.rewardListingItem {
    background: var(--ion-color-medium);
    color: var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-medium-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    margin: 0 16px;

    .imageWrapper {
        flex: 0.3;
        display: flex;
        justify-content: center;
        align-items: center;

        .prizeImage {
            width: 30px;
        }
    }

    .textWrapper {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .endSlot {
        flex: 0.7;
    }
}

.popoverRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}