.containerContent {

}

.termsContainer {
    display: flex;
    margin-bottom: 25px;

    .checkboxField {
        flex: 0.1;
    }

    .textField {
        flex: 0.9;
    }
}

.submitButton {
    --background: linear-gradient(115.93deg, var(--ion-color-primary) 22.75%, var(--ion-color-quaternary) 84.05%);
    --border-radius: 15px;
}