.container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.18deg, var(--ion-color-primary) 27.95%, var(--ion-color-quaternary) 81.41%);
    box-shadow: 0px 4px 2px #000000;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
    margin: 15px 0 5px 0;

    .img {
        position: absolute;
        width: 200px;
        height: 200px;
        left: -50px;
        top: -75px;
    }

    .innerContainer {
        .badge {
            width: 182px;
            height: 63px;
            background: var(--ion-color-medium);
            box-shadow: inset 0px 2px 2px 1px #000000;
            border-radius: 38.5px;
            margin: auto;
            margin-bottom: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .description {
            text-align: center;
        }
    }
}