.text {
    font-size: large;
    font-weight: 400;

    &.block {
        display: block;
    }

    &.small {
        font-size: 14px;
    }

    &.large {
        font-size: 20px;
    }

    &.xxl {
        font-size: 36px;
    }

    &.bold {
        font-weight: 700;
    }
}