.receiverContainer {
    position: relative;

    .inputWithscanner {
        --padding-end: 50px;
    }

    .scan {
        position: absolute;
        top: 9px;
        z-index: 2;
        right: 10px;
    }
}