.container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(95.54deg, var(--ion-color-primary) 37.14%, var(--ion-color-quaternary) 104.54%);
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 25px;

    .togglerContainer {
        display: flex;
        align-items: center;

        .id {
            flex: 1;
            display: flex;

            .logo {
                width: 42px;
                height: 42px;
                box-sizing: border-box;
                border-radius: 50px;
                margin-right: 7px;
            }
        }

        .toggler {
            flex: 1;
            text-align: right;
        }
    }

    .connectionContainer {
        background-color: var(--ion-color-slightly-light);
        border-radius: 3px;
        margin-top: 30px;
        text-align: center;
        padding-bottom: 20px;

        .connectionHeader {
            background: var(--ion-color-primary-dark);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .connectionInput {
            margin: 20px;
            ion-input {
                background: var(--ion-color-light);
                color: var(--ion-color-medium-light);
                border: none;
                box-shadow: none;
            }
        }
    }
}