.container {
    background: var(--ion-color-medium);
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;

    .dataContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        .selectionContainer {
            padding: 10px 0 0 10px;

            ion-checkbox {
                --border-radius: 4px;
                --background: var(--ion-color-dark);
                --border-color: var(--ion-color-dark);
            }
        }

        .startSlot {
            flex:auto;

        .logo {
            background-color: var(--ion-color-light) !important;
        }

        .detailWrapper {
            padding: 0 16px 10px 16px;
            .balanceRow {
                border-bottom: 1px solid var(--ion-color-medium-light);
                display: flex;
                justify-content: space-between;
            }
    
            .spinInfoRow {
                display: flex;
                justify-content: space-between;
            }
        }

        ion-item {
            --background: none;

            ion-avatar {
                align-self: start;
            }
        }

        .status {
            display: flex;
            align-items: center;
            gap: 5px;

            ion-icon {
                font-size: 12px;
            }
        }
    }
    }

    .spinAction {
        background: var(--ion-color-medium-light);
        height: 100%;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 75px;
        position: relative;

        .actionItem {
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}