.accordionContent {
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid var(--ion-color-medium-light);
        padding: 16px 0;

        .column {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}