@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
    font-family: 'Monda', sans-serif;
}

.primary-sheet {
  --border-radius: 50px 50px 0px 0px;

  &::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
}

.primary-dialog {
    --height: 30%;
    --border-radius: 11px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 0px 16px;

    &::part(backdrop) {
      background: rgba(209, 213, 219);
      opacity: 1;
    }
}


/** hide google social login in web3Auth **/
// .w3ajs-socials-adapters {
//     li {
//         &:first-of-type {
//             display: none;
//         }
//     }
// }