.primaryAccordion {
    ion-accordion {
        background: none;
    }

    ion-item {
        // --inner-padding-end: 0;
        // --padding-start: 0;
        --background: none;
        --color: var(--ion-color-light);
        --border-color: var(--ion-color-medium-light);
        ion-icon {
            color: var(--ion-color-light);
            font-size: 32px;
        }
    }

    .active {
        font-weight: 600;
        letter-spacing: 1px;
    }
}