.earnReward {
    ion-accordion {
        background: var(--ion-color-tertiary);
        margin-bottom: 20px;
        box-shadow: 0px 4px 2px var(--ion-color-dark-shade);
        border-radius: 11px;
    }

    ion-item {
        --background: var(--ion-color-tertiary);
        --border-color: var(--ion-color-tertiary);

        ion-icon {
            color: var(--ion-color-light);
            font-size: 32px;
        }
    }
}