.canvasContainer {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 342px;

    canvas {
        display: block;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--ion-color-light);
        border-radius: 50%;
    }

    .iconPin {
        position: absolute;
        left: 50%;
        top: 2px;
        margin-left: calc(-50px / 2);
        transform-origin: 50% 31%;
    }

    // .pinShaking {
    //     /* Start the shake animation and make the animation last for 0.5 seconds */
    //     animation: pinShaking 0.5s;

    //     /* When the animation is finished, start again */
    //     animation-iteration-count: infinite;
    // }

    //     @keyframes pinShaking {
    //         0% {
    //             transform: rotate(50deg);
    //         }

    //         10% {
    //             transform: rotate(-50deg);
    //         }

    //         20% {
    //             transform: rotate(50deg);
    //         }

    //         30% {
    //             transform: rotate(-50deg);
    //         }

    //         40% {
    //             transform: rotate(50deg);
    //         }

    //         50% {
    //             transform: rotate(-50deg);
    //         }

    //         60% {
    //             transform: rotate(50deg);
    //         }

    //         70% {
    //             transform: rotate(-50deg);
    //         }

    //         80% {
    //             transform: rotate(50deg);
    //         }

    //         90% {
    //             transform: rotate(-50deg);
    //         }

    //         100% {
    //             transform: rotate(50deg);
    //         }
    //     }
}