.header {
    .toolbar {
        --background: var(--ion-color-medium-shade);
        --color: var(--ion-color-light);
        box-shadow: 0px 4px 2px var(--ion-color-light-contrast);

        .icon {
            padding-left: 16px;
        }
    }
}