
.container {

}

.buttonContainer {
    text-align: end;
}

.inputContainer {
    padding-bottom: 16px;
    .label {
        padding-bottom: 10px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--ion-color-medium-light);
    padding: 16px 0;

    .column {
        flex: 1;
    }
}