<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429204471933-olg7v0ude7fsmumuik0lkccgt2od9sot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429204471933-olg7v0ude7fsmumuik0lkccgt2od9sot</string>
	<key>API_KEY</key>
	<string>AIzaSyDzYfTdlGzDXWnOPz2PvmjjENgJ8YBiz9o</string>
	<key>GCM_SENDER_ID</key>
	<string>429204471933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gozo.app.mvp.dev</string>
	<key>PROJECT_ID</key>
	<string>gozo-development</string>
	<key>STORAGE_BUCKET</key>
	<string>gozo-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:429204471933:ios:c9092eb16baff8518a7114</string>
</dict>
</plist>
